@charset "utf-8";
/* CSS Document */
body {
    padding-top: 100px;
    margin-bottom: 80px;
}

/*
 * Global add-ons
 */

.sub-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
    border: 0;
}

.navbar-header > a > img {
    height: 100%;
}

.carousel-inner .item > img {
    width: 100%;
    height: 280px;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
    display: none;
}

@media (min-width: 768px) {
    .sidebar {
        position: fixed;
        top: 101px;
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;
        /*  padding: 20px; */
        overflow-x: hidden;
        overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
        background-color: #f5f5f5;
        border-right: 1px solid #eee;
    }
}

/* Sidebar navigation */
.nav-sidebar {
    margin-right: -21px; /* 20px padding + 1px border */
    margin-bottom: 20px;
    margin-left: -20px;
}

.nav-sidebar > li > a {
    padding-right: 20px;
    padding-left: 20px;
}

.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
    color: #fff;
    background-color: #428bca;
}

.navbar-second {
    position: fixed;
    z-index: 1000;
    top: 50px;
    display: block;
    background-color: #e0e0e0;
    width: 100%;
}

@media (min-width: 768px) {
    .navbar-second {
        padding-left: 30%;
    }
}

#template {
    display: none;
}

select {
    width: 17%;
}

select, textarea, .contentInput, .selectInput {
    position: relative;
    margin-top: 10px;
    left: 2%;
    width: 15%;
}

.see {
    margin-left: 3%;
    width: 10%;
}

.uploadButton {
    position: relative;
    left: -20px;
    width: 15%;
}

.cancleButton {
    position: relative;
    margin-left: 60px;
    width: 15%;
}

.footer {
    position: relative;
    top: 50px;
}

