body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1082px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:100px;
  top:50px;
  width:431px;
  height:880px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:431px;
  height:880px;
}
#u1 {
  position:absolute;
  left:2px;
  top:432px;
  width:427px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:124px;
  top:154px;
  width:382px;
  height:672px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:382px;
  height:672px;
}
#u3 {
  position:absolute;
  left:2px;
  top:328px;
  width:378px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:133px;
  top:160px;
  width:366px;
  height:50px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:366px;
  height:50px;
}
#u5 {
  position:absolute;
  left:2px;
  top:17px;
  width:362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:125px;
  top:182px;
  width:380px;
  height:50px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:50px;
}
#u7 {
  position:absolute;
  left:2px;
  top:17px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:140px;
  top:188px;
  width:21px;
  height:37px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:37px;
}
#u9 {
  position:absolute;
  left:2px;
  top:10px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:167px;
  top:182px;
  width:163px;
  height:50px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:50px;
}
#u11 {
  position:absolute;
  left:2px;
  top:16px;
  width:159px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:432px;
  top:205px;
  width:56px;
  height:8px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:8px;
}
#u13 {
  position:absolute;
  left:2px;
  top:-4px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:198px;
  top:242px;
  width:237px;
  height:74px;
  text-align:center;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:74px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:145px;
  top:326px;
  width:345px;
  height:264px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:264px;
}
#u17 {
  position:absolute;
  left:2px;
  top:124px;
  width:341px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:147px;
  top:328px;
  width:113px;
  height:42px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:42px;
}
#u19 {
  position:absolute;
  left:20px;
  top:12px;
  width:91px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:145px;
  top:384px;
  width:345px;
  height:106px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:106px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:145px;
  top:500px;
  width:345px;
  height:109px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:109px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:145px;
  top:619px;
  width:345px;
  height:121px;
  font-size:14px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:121px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:700px;
  top:154px;
  width:382px;
  height:3906px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:382px;
  height:3906px;
}
#u27 {
  position:absolute;
  left:2px;
  top:1945px;
  width:378px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:709px;
  top:160px;
  width:366px;
  height:50px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:366px;
  height:50px;
}
#u29 {
  position:absolute;
  left:2px;
  top:17px;
  width:362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:701px;
  top:182px;
  width:380px;
  height:50px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:50px;
}
#u31 {
  position:absolute;
  left:2px;
  top:17px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:716px;
  top:188px;
  width:21px;
  height:37px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:37px;
}
#u33 {
  position:absolute;
  left:2px;
  top:10px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:743px;
  top:182px;
  width:163px;
  height:50px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:50px;
}
#u35 {
  position:absolute;
  left:2px;
  top:16px;
  width:159px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:1008px;
  top:205px;
  width:56px;
  height:8px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:8px;
}
#u37 {
  position:absolute;
  left:2px;
  top:-4px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:774px;
  top:242px;
  width:237px;
  height:74px;
  text-align:center;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:74px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:721px;
  top:326px;
  width:345px;
  height:264px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:264px;
}
#u41 {
  position:absolute;
  left:2px;
  top:124px;
  width:341px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:723px;
  top:328px;
  width:113px;
  height:42px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:42px;
}
#u43 {
  position:absolute;
  left:20px;
  top:12px;
  width:91px;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:721px;
  top:384px;
  width:345px;
  height:106px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:106px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:721px;
  top:500px;
  width:345px;
  height:109px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:109px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:721px;
  top:619px;
  width:345px;
  height:121px;
  font-size:14px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:121px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:733px;
  top:729px;
  width:320px;
  height:280px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:280px;
}
#u51 {
  position:absolute;
  left:2px;
  top:132px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:721px;
  top:1042px;
  width:345px;
  height:384px;
  font-size:14px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:384px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:733px;
  top:1429px;
  width:320px;
  height:280px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:280px;
}
#u55 {
  position:absolute;
  left:2px;
  top:132px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:733px;
  top:1744px;
  width:320px;
  height:280px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:280px;
}
#u57 {
  position:absolute;
  left:2px;
  top:132px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:721px;
  top:2059px;
  width:345px;
  height:352px;
  font-size:14px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:352px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  word-wrap:break-word;
}
#u60 {
  position:absolute;
  left:980px;
  top:2459px;
  width:60px;
  height:32px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:32px;
}
#u61 {
  position:absolute;
  left:2px;
  top:0px;
  width:56px;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:829px;
  top:2520px;
  width:129px;
  height:37px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:37px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u64 {
  position:absolute;
  left:718px;
  top:2580px;
  width:345px;
  height:740px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:740px;
}
#u65 {
  position:absolute;
  left:2px;
  top:362px;
  width:341px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66 {
  position:absolute;
  left:744px;
  top:2600px;
  width:300px;
  height:50px;
  text-align:left;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:50px;
}
#u67 {
  position:absolute;
  left:2px;
  top:9px;
  width:296px;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:750px;
  top:2660px;
  width:62px;
  height:50px;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:50px;
}
#u69 {
  position:absolute;
  left:2px;
  top:17px;
  width:58px;
  word-wrap:break-word;
}
#u70 {
  position:absolute;
  left:824px;
  top:2660px;
  width:62px;
  height:50px;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:50px;
}
#u71 {
  position:absolute;
  left:2px;
  top:17px;
  width:58px;
  word-wrap:break-word;
}
#u72 {
  position:absolute;
  left:896px;
  top:2660px;
  width:62px;
  height:50px;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:50px;
}
#u73 {
  position:absolute;
  left:2px;
  top:17px;
  width:58px;
  word-wrap:break-word;
}
#u74 {
  position:absolute;
  left:970px;
  top:2660px;
  width:62px;
  height:50px;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:50px;
}
#u75 {
  position:absolute;
  left:2px;
  top:17px;
  width:58px;
  word-wrap:break-word;
}
#u76 {
  position:absolute;
  left:744px;
  top:2717px;
  width:300px;
  height:50px;
  text-align:left;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:50px;
}
#u77 {
  position:absolute;
  left:2px;
  top:9px;
  width:296px;
  word-wrap:break-word;
}
#u78 {
  position:absolute;
  left:750px;
  top:2777px;
  width:62px;
  height:50px;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:50px;
}
#u79 {
  position:absolute;
  left:2px;
  top:17px;
  width:58px;
  word-wrap:break-word;
}
#u80 {
  position:absolute;
  left:824px;
  top:2777px;
  width:62px;
  height:50px;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:50px;
}
#u81 {
  position:absolute;
  left:2px;
  top:17px;
  width:58px;
  word-wrap:break-word;
}
#u82 {
  position:absolute;
  left:896px;
  top:2777px;
  width:62px;
  height:50px;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:50px;
}
#u83 {
  position:absolute;
  left:2px;
  top:17px;
  width:58px;
  word-wrap:break-word;
}
#u84 {
  position:absolute;
  left:970px;
  top:2777px;
  width:62px;
  height:50px;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:50px;
}
#u85 {
  position:absolute;
  left:2px;
  top:17px;
  width:58px;
  word-wrap:break-word;
}
#u86 {
  position:absolute;
  left:744px;
  top:2833px;
  width:300px;
  height:50px;
  text-align:left;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:50px;
}
#u87 {
  position:absolute;
  left:2px;
  top:9px;
  width:296px;
  word-wrap:break-word;
}
#u88 {
  position:absolute;
  left:750px;
  top:2893px;
  width:62px;
  height:50px;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:50px;
}
#u89 {
  position:absolute;
  left:2px;
  top:17px;
  width:58px;
  word-wrap:break-word;
}
#u90 {
  position:absolute;
  left:824px;
  top:2893px;
  width:62px;
  height:50px;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:50px;
}
#u91 {
  position:absolute;
  left:2px;
  top:17px;
  width:58px;
  word-wrap:break-word;
}
#u92 {
  position:absolute;
  left:896px;
  top:2893px;
  width:62px;
  height:50px;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:50px;
}
#u93 {
  position:absolute;
  left:2px;
  top:17px;
  width:58px;
  word-wrap:break-word;
}
#u94 {
  position:absolute;
  left:970px;
  top:2893px;
  width:62px;
  height:50px;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:50px;
}
#u95 {
  position:absolute;
  left:2px;
  top:17px;
  width:58px;
  word-wrap:break-word;
}
#u96 {
  position:absolute;
  left:744px;
  top:2950px;
  width:300px;
  height:50px;
  text-align:left;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:50px;
}
#u97 {
  position:absolute;
  left:2px;
  top:9px;
  width:296px;
  word-wrap:break-word;
}
#u98 {
  position:absolute;
  left:750px;
  top:3010px;
  width:62px;
  height:50px;
}
#u98_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:50px;
}
#u99 {
  position:absolute;
  left:2px;
  top:17px;
  width:58px;
  word-wrap:break-word;
}
#u100 {
  position:absolute;
  left:824px;
  top:3010px;
  width:62px;
  height:50px;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:50px;
}
#u101 {
  position:absolute;
  left:2px;
  top:17px;
  width:58px;
  word-wrap:break-word;
}
#u102 {
  position:absolute;
  left:896px;
  top:3010px;
  width:62px;
  height:50px;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:50px;
}
#u103 {
  position:absolute;
  left:2px;
  top:17px;
  width:58px;
  word-wrap:break-word;
}
#u104 {
  position:absolute;
  left:970px;
  top:3010px;
  width:62px;
  height:50px;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:50px;
}
#u105 {
  position:absolute;
  left:2px;
  top:17px;
  width:58px;
  word-wrap:break-word;
}
#u106 {
  position:absolute;
  left:744px;
  top:3121px;
  width:68px;
  height:30px;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:30px;
}
#u107 {
  position:absolute;
  left:2px;
  top:7px;
  width:64px;
  word-wrap:break-word;
}
#u108 {
  position:absolute;
  left:744px;
  top:3161px;
  width:295px;
  height:100px;
  overflow:hidden;
  visibility:hidden;
}
#u108_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:100px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u108_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u109 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:100px;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:100px;
}
#u110 {
  position:absolute;
  left:2px;
  top:42px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u111 {
  position:absolute;
  left:708px;
  top:3451px;
  width:147px;
  height:36px;
  text-align:left;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:36px;
}
#u112 {
  position:absolute;
  left:2px;
  top:10px;
  width:143px;
  word-wrap:break-word;
}
#u113 {
  position:absolute;
  left:928px;
  top:3452px;
  width:147px;
  height:36px;
  font-family:'Arial Cursiva', 'Arial';
  font-weight:400;
  font-style:italic;
  color:#00FFFF;
  text-align:left;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:36px;
}
#u114 {
  position:absolute;
  left:2px;
  top:10px;
  width:143px;
  word-wrap:break-word;
}
#u115 {
  position:absolute;
  left:994px;
  top:3458px;
  width:16px;
  height:22px;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:22px;
}
#u116 {
  position:absolute;
  left:2px;
  top:3px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u117 {
  position:absolute;
  left:892px;
  top:3528px;
  width:183px;
  height:57px;
  text-align:right;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:57px;
}
#u118 {
  position:absolute;
  left:2px;
  top:20px;
  width:161px;
  word-wrap:break-word;
}
#u119 {
  position:absolute;
  left:1052px;
  top:3627px;
  width:16px;
  height:16px;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u120 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u121 {
  position:absolute;
  left:720px;
  top:3627px;
  width:50px;
  height:50px;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u122 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  word-wrap:break-word;
}
#u123 {
  position:absolute;
  left:772px;
  top:3618px;
  width:200px;
  height:30px;
  text-align:left;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u124 {
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  word-wrap:break-word;
}
#u125 {
  position:absolute;
  left:772px;
  top:3649px;
  width:200px;
  height:30px;
  text-align:left;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u126 {
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  word-wrap:break-word;
}
#u127 {
  position:absolute;
  left:772px;
  top:3680px;
  width:200px;
  height:30px;
  text-align:left;
}
#u127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u128 {
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  word-wrap:break-word;
}
#u129 {
  position:absolute;
  left:1052px;
  top:3757px;
  width:16px;
  height:16px;
}
#u129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u130 {
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u131 {
  position:absolute;
  left:720px;
  top:3757px;
  width:50px;
  height:50px;
}
#u131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u132 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  word-wrap:break-word;
}
#u133 {
  position:absolute;
  left:772px;
  top:3748px;
  width:200px;
  height:30px;
  text-align:left;
}
#u133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u134 {
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  word-wrap:break-word;
}
#u135 {
  position:absolute;
  left:772px;
  top:3779px;
  width:200px;
  height:30px;
  text-align:left;
}
#u135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u136 {
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  word-wrap:break-word;
}
#u137 {
  position:absolute;
  left:772px;
  top:3810px;
  width:200px;
  height:30px;
  text-align:left;
}
#u137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u138 {
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  word-wrap:break-word;
}
