body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:531px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:100px;
  top:50px;
  width:431px;
  height:880px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:431px;
  height:880px;
}
#u1 {
  position:absolute;
  left:2px;
  top:432px;
  width:427px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:124px;
  top:154px;
  width:382px;
  height:672px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:382px;
  height:672px;
}
#u3 {
  position:absolute;
  left:2px;
  top:328px;
  width:378px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:133px;
  top:160px;
  width:366px;
  height:50px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:366px;
  height:50px;
}
#u5 {
  position:absolute;
  left:2px;
  top:17px;
  width:362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:395px;
  top:180px;
  width:95px;
  height:60px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:60px;
}
#u7 {
  position:absolute;
  left:2px;
  top:22px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:125px;
  top:182px;
  width:380px;
  height:50px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:380px;
  height:50px;
}
#u9 {
  position:absolute;
  left:2px;
  top:17px;
  width:376px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:168px;
  top:270px;
  width:300px;
  height:50px;
}
#u10_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:50px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u11 {
  position:absolute;
  left:168px;
  top:339px;
  width:300px;
  height:50px;
}
#u11_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:50px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u12 {
  position:absolute;
  left:168px;
  top:409px;
  width:300px;
  height:50px;
}
#u12_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:50px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u13 {
  position:absolute;
  left:168px;
  top:477px;
  width:192px;
  height:50px;
}
#u13_input {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:50px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u14 {
  position:absolute;
  left:361px;
  top:484px;
  width:107px;
  height:37px;
}
#u14_input {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:37px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u15 {
  position:absolute;
  left:140px;
  top:187px;
  width:21px;
  height:37px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:37px;
}
#u16 {
  position:absolute;
  left:2px;
  top:10px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:167px;
  top:181px;
  width:173px;
  height:50px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:50px;
}
#u18 {
  position:absolute;
  left:2px;
  top:16px;
  width:169px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:432px;
  top:205px;
  width:56px;
  height:8px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:8px;
}
#u20 {
  position:absolute;
  left:2px;
  top:-4px;
  width:52px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:141px;
  top:569px;
  width:348px;
  height:50px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:348px;
  height:50px;
}
#u22 {
  position:absolute;
  left:2px;
  top:16px;
  width:344px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:168px;
  top:530px;
  width:300px;
  height:31px;
  overflow:hidden;
  visibility:hidden;
}
#u23_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:31px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u23_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u24 {
  position:absolute;
  left:0px;
  top:1px;
  width:300px;
  height:30px;
  font-family:'Arial Cursiva', 'Arial';
  font-weight:400;
  font-style:italic;
  color:#999999;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
}
#u25 {
  position:absolute;
  left:2px;
  top:7px;
  width:296px;
  word-wrap:break-word;
}
